# This file contains secret keys. Add it to your .gitignore!
 #AIRS
 MY_AIRS_API_KEY=<AIRS API KEY>

 #AZURE
 AZURE_OPENAI_API_KEY=<AZURE OPENAI API KEY>
 AZURE_RESOURCE=<AZURE RESOURCE NAME>
 AZURE_DEPLOYMENT=<AZURE_DEPLOYMENT NAME>
 AZURE_API_VERSION=<AZURE_API_VERSION

# AWS
 AWS_ACCESS_KEY_ID=<AWS_ACCESS_KEY_ID
 AWS_SECRET_ACCESS_KEY=<AWS_SECRET_ACCESS_KEY>
 AWS_REGION=<AWS_REGION>

# LITELLM ADMIN - to be defined by you.
LITELLM_ADMIN_KEY=<sk-......> 
