# This file contains secret keys. Add it to your .gitignore!
# AIRS VARIABLES
MY_AIRS_API_KEY=<MY_AIRS_API_KEY>
# AZURE VARIABLES
AZURE_OPENAI_API_KEY=<AZURE KEY>
AZURE_RESOURCE=<AZURE_DEPLOYMENT_RESOURCE_NAME>
AZURE_DEPLOYMENT=<AZURE DEPLOYMENT NAME>
AZURE_API_VERSION=<AZURE API VERSION>
# AWS VARIABLES
AWS_ACCESS_KEY_ID=<AWS KEY ID>
AWS_SECRET_ACCESS_KEY=<AWS SECRET KEY>
AWS_REGION=<AWS REGION>
# GCP VARIABLES
GOOGLE_CLOUD_PROJECT_ID=<GOOGLE_CLOUD_PROJECT_ID>
GOOGLE_CLOUD_REGION=<GOOGLE_CLOUD_REGION>
VERTEX_SERVICE_ACCOUNT_FILE=<PATH TO YOUR SERVICE ACCOUNT FILE>
